//-------------------------------
//---------intro section---------
//-------------------------------

h1{
    text-align: center;
    text-shadow:2px 1px $elementMain,
        4px 2px $elementMain,
        6px 4px $elementMain;
}

h3 {
    margin-top: 2.5vh;
}

form {
    margin-top: 5vh;
}

//button you click to enroll a class
.enrollButton {
    margin-top: 2vh;
    font-size: 1.75rem;
}

.enrolledList {
    margin: 2.5vh auto 0;
    width: 100%;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.enrolledLI {
    display: block;
    padding: 0;
    width: 30%;
    margin: 0 1% 2vh 1%;
}

//increase specificity to overwrite other button styles
//dynamic enrolled list items you can click to delete
button.enrolledListButton {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: $elementMain;
    border: 1px solid $text;
    border-radius: 10px;
}

.createButton {
    margin: 5vh auto 5vh auto;
    font-size: 2rem;
    padding: 25px 20px; 
    border-radius: 25px;
}