.stats button {
    margin-top: 20px;
    font-size: 4rem;
}

.stats button li {
    font-size: 2rem;
}

.expandedEnrolled {
    background: $elementMain;
    display: inline-block;
    border-radius: 10px;
    margin-top: 5px;
}

.expandedEnrolled li {
    font-size: 1.5rem;
    padding: 0 10px;
    list-style: inside;  
}

//transition animations - slide down
.fade-enter,
.fade-appear {
    opacity: 0;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 900ms ease;
}

.fade-leave {
    opacity: 0; 
}

.fade-leave.fade-leave-active {
    opacity: 1;
    transition: opacity 900ms ease;
} 