.stats button {
    margin-top: 20px;
    font-size: 4rem;
}

.stats button li {
    font-size: 2rem;
}

.expandedEnrolled {
    background: $elementMain;
    display: inline-block;
    border-radius: 10px;
    margin-top: 5px;
}

.expandedEnrolled li {
    font-size: 1.5rem;
    padding: 0 10px;
    list-style: inside;  
}