.stats button {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.statsSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats i {
    font-size: 1rem;
    margin-left: 5px;
}

.expandedEnrolled {
    background: $elementMain;
    display: inline-block;
    border-radius: 10px;
    margin-top: 5px; 
}

.expandedList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expandedEnrolled li {
    font-size: 1.5rem;
    padding: 5px 10px;
    list-style: inside;  
}

.stats h3 {
    text-align: center;
}

.expandedList {
    padding-bottom: 40px;
}

//------------------------------------------------
//-----react transitions classes, generated-------
//------------------------------------------------
.fade-enter,
.fade-appear {
    opacity: 0;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 900ms ease;
}

.fade-leave {
    opacity: 0; 
}

.fade-leave.fade-leave-active {
    opacity: 1;
    transition: opacity 900ms ease;
} 

//---------------------------------------------
//--------tab for subsections, generated-------
//---------------------------------------------

.stats .react-tabs__tab--selected.react-tabs__tab {
    font-family: $headers;
    font-size: 1.5rem;
    font-weight: 600;
    bottom: 0;
}

.stats .react-tabs__tab {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0px;
    bottom: 0;
}


.stats .react-tabs__tab-list {
    width: 100%;
    border-bottom: 2px solid $elementMain;
}

//-----------------------------------------------
//---------Schedule section----------------------
//----------------------------------------------
.scheduleWrapper {
    display: flex;
    width: 100%;
}

.scheduleSlot {
    width: 33%;
    text-align: center;
} 

//-----------------------------------------------
//---------media queries for responsive---------
//----------------------------------------------


@media(min-width: 600px) {

    .stats i {
        margin-left: 10px;
    }
}

@media(min-width: 950px) {
    .stats .react-tabs__tab,
    .stats .react-tabs__tab--selected.react-tabs__tab {
        font-size: 2rem;
    }
 
    .stats i {
        margin-left: 15px;
    }
}

@media(min-width: 1300px) {

    .stats i {
        margin-left: 20px;
    }
}
