//-------------------------
//--------tab styles-------
//-------------------------


.react-tabs__tab--selected.react-tabs__tab {
    background: $background;
    color: $elementMain;
    border-radius: 5px 5px 0 0;
    font-family: $subheaders;
    font-size: 1.4rem;
    text-shadow:2px 1px $text,
    4px 2px $text;
}

.react-tabs__tab {
    font-size: 1.4rem;
    font-weight: bold;
    color: $text;
    border: none;
    letter-spacing: 2px;
}

.react-tabs__tab-list {
    border-bottom: none;
}


