.searchButton {
    margin: 2vh 0;
    font-size: 1.75rem;
}

.enrollCreate {
    margin-top: 2vh; 
}

.update h3 {
    margin-top: 7.5vh;
    text-align: center;
    font-size: 2rem;
    text-shadow:2px 2px $elementMain
}

.updateButton {
    margin: 5vh auto 5vh auto;
    font-size: 2rem;
    padding: 25px 20px;
    border-radius: 25px;
}

//-----------------------------------------------
//---------media queries for responsive---------
//----------------------------------------------
 
@media(min-width: 410px) {
    .searchButton {
        font-size: 2rem;
    }

    .update h3,
    .updateButton {  
        font-size: 2.25rem;
    }
}

@media(min-width: 600px) {
    .searchButton {
        font-size: 2.25rem;
    }

    .update h3,
    .updateButton {  
        font-size: 2.5rem;
    }
}

@media(min-width: 950px) {
    .searchButton {
        font-size: 3rem;
    }

    .update h3,
    .updateButton {  
        font-size: 2.75rem;
    }
}

@media(min-width: 950px) {
    .searchButton {
        font-size: 3.5rem;
    }

    .update h3,
    .updateButton {  
        font-size: 3.5rem;
    }
}
