.updateSearch,
.updateResults,
.updateWrapper
 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateResults {
    width: 55%;
}

.updateResults input {
    // width: 55%;
}

.nameSearch {
    width: 55%;
}

.searchButton {
    margin: 2vh 0;
    font-size: 1.5rem;
}

.enrollCreate {
    margin-top: 2vh; 
    width: 100%;
}

.update h3 {
    margin-top: 7.5vh;
    text-align: center;
    font-size: 1.5rem;
    text-shadow:2px 2px $elementMain
}

.updateButton {
    margin: 5vh auto 5vh auto;
    font-size: 1.5rem;
    padding: 25px 20px;
    border-radius: 25px;
}

//-----------------------------------------------
//---------media queries for responsive---------
//----------------------------------------------


@media(min-width: 600px) {
    .searchButton {
        font-size: 1.75rem;
    }

    .update h3,
    .updateButton {  
        font-size: 1.75rem;
    }
}

@media(min-width: 950px) {
    .searchButton {
        font-size: 2rem;
    }

    .update h3,
    .updateButton {  
        font-size: 2rem;
    }
}

