.searchButton {
    margin: 2vh 0;
    font-size: 1.75rem;
}

.enrollCreate {
    margin-top: 2vh; 
}

.update h3 {
    margin-top: 7.5vh;
    text-align: center;
    font-size: 2rem;
    text-shadow:2px 2px $elementMain
}

.updateButton {
    margin: 5vh auto 5vh auto;
    font-size: 2rem;
    padding: 25px 20px;
    border-radius: 25px;
}