//------------------------
//--------variables-------
//------------------------

//colours
$text: #182D40;
$accentSharp: #FFC602;
$elementMain: #F1FFFA;
$background: #73C1C6;
$elementSecondary: #38AECC;

//fonts
$headers: 'Rajdhani', sans-serif;
$subheaders: 'Signika', sans-serif;
$content: 'Athiti', sans-serif;
