/* //------------------------------------------------
//----------setup snippet boilerplate----------
//--------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* ------------------------------
-------strip default styles---
------------------------------ */
li {
  list-style: none;
}

ul,
li,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #182D40;
}

/* ------------------------------
-------typography---
------------------------------ */
body {
  font-size: 125%;
}

p,
label {
  color: #182D40;
  font-family: "Athiti", sans-serif;
}

p {
  font-size: 1.25rem;
}

h1 {
  color: #182D40;
  font-family: "Rajdhani", sans-serif;
  font-size: 4rem;
}

h3,
h4,
button {
  color: #182D40;
  font-family: "Signika", sans-serif;
}

h2 {
  color: #182D40;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 1px #F1FFFA, 4px 2px #F1FFFA;
}

label {
  font-size: 1.5rem;
  text-shadow: 1px 1px #F1FFFA;
}

input {
  font-size: 1rem;
  width: 100%;
}

input:focus {
  outline: 3px solid #F1FFFA;
}

li {
  font-size: 0.85rem;
}

i {
  font-size: 0.65rem;
}

input,
label,
button {
  display: block;
}

input {
  background: #F1FFFA;
  padding: 10px 15px;
  border-radius: 10px;
}

body {
  background: #73C1C6;
}

.outerWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.innerWrapper {
  width: 80%;
  margin: 0 auto;
}

button {
  background: #FFC602;
  padding: 10px 15px;
  border: 3px solid #F1FFFA;
  border-radius: 10px;
}

button:focus {
  outline: 3px solid #F1FFFA;
}

.inputWarning {
  background: #38AECC;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #F1FFFA;
  margin-top: 5px;
}

.inputWarning p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.fade-enter,
.fade-appear {
  opacity: 0;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 900ms ease;
  transition: opacity 900ms ease;
}

.fade-leave {
  opacity: 0;
}

.fade-leave.fade-leave-active {
  opacity: 1;
  -webkit-transition: opacity 900ms ease;
  transition: opacity 900ms ease;
}

h1 {
  text-align: center;
  text-shadow: 2px 1px #F1FFFA, 4px 2px #F1FFFA, 6px 4px #F1FFFA;
}

h3 {
  margin-top: 2.5vh;
}

form {
  margin-top: 5vh;
}

.enrollButton {
  margin-top: 2vh;
  font-size: 1.75rem;
}

.enrolledList {
  margin: 2.5vh auto 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.enrolledLI {
  display: block;
  padding: 0;
  width: 30%;
  margin: 0 1% 2vh 1%;
}

button.enrolledListButton {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background: #F1FFFA;
  border: 1px solid #182D40;
  border-radius: 10px;
}

.createButton {
  margin: 5vh auto 5vh auto;
  font-size: 2rem;
  padding: 25px 20px;
  border-radius: 25px;
}

.searchButton {
  margin: 2vh 0;
  font-size: 1.75rem;
}

.enrollCreate {
  margin-top: 2vh;
}

.update h3 {
  margin-top: 7.5vh;
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px #F1FFFA;
}

.updateButton {
  margin: 5vh auto 5vh auto;
  font-size: 2rem;
  padding: 25px 20px;
  border-radius: 25px;
}

.react-tabs__tab--selected.react-tabs__tab {
  background: #73C1C6;
  border-color: #F1FFFA;
  color: #182D40;
  border-radius: 5px 5px 0 0;
  font-family: "Signika", sans-serif;
  font-size: 1.15rem;
}

.react-tabs__tab {
  font-size: 1.15rem;
}

.react-tabs__tab-list {
  background: #F1FFFA;
}
/*# sourceMappingURL=App.css.map */